* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  background-color: antiquewhite;
}

/* give images a class name here to interact with JS, just style the image here, e.g. focus */
body {
  display: flex;
  display: block;
}
/* mobile web page thumbnail galleries, a good size range for images is around 90x90, for desktop 300x300 pixels.  */
#thumbnail-container {
  background-color: white;
  overflow: auto;
  white-space: nowrap;
  padding: 10px;
  border-color: black;
  height: 40px;
  width: 100px;
}

#fullscreen-container {
  background-color: white;
  /* background-image: image(); */
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  position: absolute;
}

#fsImage {
  height: 100%;
  width: 100%;
}

.tImage {
  height: 30px;
  width: 90px;
  cursor: pointer;
}

@media (width >= 800px) {
  #thumbnail-container {
    background-color: white;
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
    border-color: black;
    height: 250px;
    width: 300px;
  }
}
